In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\Reduce market Waste\dataset\train.csv')

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deal_title             7007 non-null   object
 1   Lead_name              7007 non-null   object
 2   Industry               7006 non-null   object
 3   Deal_value             6956 non-null   object
 4   Weighted_amount        6482 non-null   object
 5   Date_of_creation       7007 non-null   object
 6   Pitch                  7007 non-null   object
 7   Contact_no             7007 non-null   object
 8   Lead_revenue           7007 non-null   object
 9   Fund_category          7007 non-null   object
 10  Geography              6035 non-null   object
 11  Location               6996 non-null   object
 12  POC_name               6999 non-null   object
 13  Designation            7007 non-null   object
 14  Lead_POC_email         7007 non-null   object
 15  Hiring_candidate_role  7007 non-null   object
 16  Lead_source            7007 non-null   object
 17  Level_of_meeting       7007 non-null   object
 18  Last_lead_update       6374 non-null   object
 19  Internal_POC           7007 non-null   object
 20  Resource               6858 non-null   object
 21  Internal_rating        7007 non-null   int64
 22  Success_probability    7007 non-null   float64
dtypes: float64(1), int64(1), object(21)
memory usage: 1.2+ MB

In [4]:
test_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\Reduce market Waste\dataset\test.csv')

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2093 entries, 0 to 2092
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deal_title             2093 non-null   object
 1   Lead_name              2093 non-null   object
 2   Industry               2092 non-null   object
 3   Deal_value             2088 non-null   object
 4   Weighted_amount        2033 non-null   object
 5   Date_of_creation       2093 non-null   object
 6   Pitch                  2093 non-null   object
 7   Contact_no             2093 non-null   object
 8   Lead_revenue           2093 non-null   object
 9   Fund_category          2093 non-null   object
 10  Geography              2014 non-null   object
 11  Location               2090 non-null   object
 12  POC_name               2091 non-null   object
 13  Designation            2093 non-null   object
 14  Lead_POC_email         2093 non-null   object
 15  Hiring_candidate_role  2093 non-null   object
 16  Lead_source            2093 non-null   object
 17  Level_of_meeting       2093 non-null   object
 18  Last_lead_update       1925 non-null   object
 19  Internal_POC           2093 non-null   object
 20  Resource               2079 non-null   object
 21  Internal_rating        2093 non-null   float64
dtypes: float64(1), object(21)
memory usage: 359.9+ KB

In [6]:
train_df['Success_probability'].unique()

array([ 73.6 ,  58.9 ,  68.8 ,  64.5 ,  62.4 ,  66.3 ,  73.4 ,  74.1 ,
        61.4 ,  66.  ,  67.9 ,  63.9 ,  71.5 ,  26.35,  60.7 ,  71.  ,
        70.  ,  66.4 ,  61.9 ,  63.7 , 107.34,  60.1 ,  62.9 ,  68.6 ,
        64.8 ,  68.3 ,  57.8 ,  56.2 ,  76.1 ,  60.8 ,  58.8 ,  64.1 ,
        69.7 ,  65.6 ,  73.1 ,  69.9 ,  66.2 ,  65.8 ,  68.1 ,  70.4 ,
        64.2 ,  -5.  ,  60.3 ,  58.6 ,  63.6 ,  68.5 ,  55.7 ,  60.2 ,
        59.9 ,  69.4 ,  73.5 ,  59.1 ,  60.9 ,  70.6 ,  62.  ,  63.4 ,
        66.1 ,  64.6 ,  59.6 ,  76.2 ,  62.5 ,  67.3 ,  70.8 ,  61.8 ,
        64.  ,  65.3 ,  72.9 ,  69.2 ,  55.6 ,  67.1 ,  55.4 ,  55.9 ,
        67.7 ,  70.1 ,  57.2 ,  69.6 ,  59.4 ,  57.5 ,  65.4 ,  61.5 ,
        64.9 ,  63.3 ,  67.2 ,  70.7 ,  65.1 ,  61.1 ,  68.4 ,  65.7 ,
        60.4 ,  74.8 ,  75.2 ,  61.7 ,  73.8 ,  61.6 ,  72.7 ,   8.  ,
        57.6 ,  57.4 ,  69.3 ,  63.5 ,  64.4 ,  75.6 ,  59.  ,  56.9 ,
        73.9 ,  66.9 ,  57.1 ,  58.3 ,  66.7 ,  75.  ,  72.6 ,  59.2 ,
        60.6 ,  66.8 ,  70.3 ,  65.9 ,  68.  ,  71.9 ,  66.6 ,  63.  ,
        71.2 ,  67.4 ,  67.  ,  57.3 ,  65.5 ,  72.  ,  67.6 ,  67.8 ,
        73.2 ,  71.6 ,  58.4 ,  61.2 ,  67.5 ,  54.9 ,  65.  ,  75.1 ,
        74.  ,  58.2 ,  62.7 ,  58.5 ,  71.8 ,  55.8 ,  69.8 ,  71.3 ,
        56.1 ,  62.1 ,  64.7 ,  73.7 ,  64.3 ,  71.1 ,  62.2 ,  63.8 ,
        62.3 ,  59.7 ,  70.5 ,  75.5 ,  74.6 ,  59.3 ,  69.1 ,  54.7 ,
        62.8 ,  55.5 ,  77.7 ,  71.4 ,  72.5 ,  66.5 ,  60.5 ,  59.8 ,
        61.  ,  70.2 ,  62.6 ,  63.2 ,  68.9 ,  57.9 ,  63.1 ,  68.2 ,
        74.7 ,  58.  ,  77.3 ,  53.9 ,  69.  ,  77.  ,  56.7 ,  56.6 ,
        74.2 ,  72.8 ,  73.3 ,  74.4 ,  55.1 ,  54.3 ,  72.4 ,  75.9 ,
        69.5 ,  70.9 ,  76.8 ,  54.4 ,  75.3 ,  75.7 ,  72.1 ,  77.4 ,
        51.9 ,  78.8 ,  74.9 ,  50.9 ,  58.7 ,  74.3 ,  53.4 ,  57.  ,
        55.3 ,  71.7 ,  58.1 ,  59.5 ,  65.2 ,  77.6 ,  55.2 ,  56.5 ,
        72.3 ,  51.7 ,  53.6 ,  56.8 ,  61.3 ,  54.1 ,  56.3 ,  72.2 ,
        68.7 ,  54.2 ,  54.6 ,  79.1 ,  75.8 ,  76.4 ,  56.  ,  57.7 ,
        60.  ,  52.7 ,  74.5 ,  54.  ,  53.2 ,  75.4 ,  52.3 ,  52.6 ,
        53.7 ,  56.4 ,  52.8 ,  73.  ,  76.7 ,  55.  ,  76.9 ,  52.2 ])

In [7]:
train_df.isnull().sum()

Deal_title                 0
Lead_name                  0
Industry                   1
Deal_value                51
Weighted_amount          525
Date_of_creation           0
Pitch                      0
Contact_no                 0
Lead_revenue               0
Fund_category              0
Geography                972
Location                  11
POC_name                   8
Designation                0
Lead_POC_email             0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
dtype: int64

In [8]:
train_df.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,...,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating,Success_probability
0,TitleM5DZY,"Davis, Perkins and Bishop Inc",Restaurants,320506$,2067263.7$,2020-03-29,Product_2,607.447.7883,50 - 100 Million,Category 2,...,Executive Vice President,charlenewerner@davis.com,Community pharmacist,Website,Level 3,No track,"Davis,Sharrice A",NaN,3,73.6
1,TitleKIW18,Bender PLC LLC,Construction Services,39488$,240876.8$,2019-07-10,Product_2,892-938-9493,500 Million - 1 Billion,Category 4,...,Chairman/CEO/President,terrylogan@bender.com,Recruitment consultant,Others,Level 1,Did not hear back after Level 1,"Brown,Maxine A",No,5,58.9
2,TitleFXSDN,Carter-Henry and Sons,Hospitals/Clinics,359392$,2407926.4$,2019-07-27,Product_1,538.748.2271,500 Million - 1 Billion,Category 4,...,SVP/General Counsel,arielhamilton@carterhenry.com,Health service manager,Marketing Event,Level 1,?,"Georgakopoulos,Vasilios T",No,4,68.8
3,TitlePSK4Y,Garcia Ltd Ltd,Real Estate,76774$,468321.4$,2021-01-30,Product_2,(692)052-1389x75188,500 Million - 1 Billion,Category 3,...,CEO/Co-Founder/Chairman,erinwilson@garcia.com,"Therapist, speech and language",Contact Email,Level 2,Did not hear back after Level 1,"Brown,Maxine A",We have all the requirements,1,64.5
4,Title904GV,Lee and Sons PLC,Financial Services,483896$,NaN,2019-05-22,Product_2,001-878-814-6134x015,50 - 100 Million,Category 3,...,Executive Vice President,mr.christopher@lee.com,Media planner,Website,Level 2,Up-to-date,"Thomas,Lori E",No,4,62.4

In [9]:
for col in test_df.columns:
    if train_df[col].dtype == 'object':
        print(col)

Deal_title
Lead_name
Industry
Deal_value
Weighted_amount
Date_of_creation
Pitch
Contact_no
Lead_revenue
Fund_category
Geography
Location
POC_name
Designation
Lead_POC_email
Hiring_candidate_role
Lead_source
Level_of_meeting
Last_lead_update
Internal_POC
Resource

In [10]:
for col in test_df.columns:
    if train_df[col].dtype == 'object':
        if train_df[col].nunique()>20:
            train_df.drop(col,1,inplace=True)
            test_df.drop(col,1,inplace=True)
        else:
            k=0
            for val in train_df[col].value_counts().index:
                train_df[col].replace(col,k,inplace=True)
                test_df[col].replace(col,k,inplace=True)
                k+=1

In [11]:
train_df.head()

,Pitch,Lead_revenue,Fund_category,Geography,Designation,Lead_source,Level_of_meeting,Last_lead_update,Resource,Internal_rating,Success_probability
0,Product_2,50 - 100 Million,Category 2,USA,Executive Vice President,Website,Level 3,No track,NaN,3,73.6
1,Product_2,500 Million - 1 Billion,Category 4,India,Chairman/CEO/President,Others,Level 1,Did not hear back after Level 1,No,5,58.9
2,Product_1,500 Million - 1 Billion,Category 4,USA,SVP/General Counsel,Marketing Event,Level 1,?,No,4,68.8
3,Product_2,500 Million - 1 Billion,Category 3,USA,CEO/Co-Founder/Chairman,Contact Email,Level 2,Did not hear back after Level 1,We have all the requirements,1,64.5
4,Product_2,50 - 100 Million,Category 3,India,Executive Vice President,Website,Level 2,Up-to-date,No,4,62.4

In [24]:
train_df.shape

(7007, 11)

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
le = LabelEncoder()

In [37]:
test_df['Pitch'] = le.fit_transform(test_df['Pitch'])
test_df['Lead_revenue'] = le.fit_transform(test_df['Lead_revenue'])
test_df['Fund_category'] = le.fit_transform(test_df['Fund_category'])
test_df['Designation'] = le.fit_transform(test_df['Designation'])
test_df['Lead_source'] = le.fit_transform(test_df['Lead_source'])
test_df['Level_of_meeting'] = le.fit_transform(test_df['Level_of_meeting'])

In [40]:
train_df['Pitch'] = le.fit_transform(train_df['Pitch'])
train_df['Lead_revenue'] = le.fit_transform(train_df['Lead_revenue'])
train_df['Fund_category'] = le.fit_transform(train_df['Fund_category'])
train_df['Designation'] = le.fit_transform(train_df['Designation'])
train_df['Lead_source'] = le.fit_transform(train_df['Lead_source'])
train_df['Level_of_meeting'] = le.fit_transform(train_df['Level_of_meeting'])

In [41]:
test_df.head()

,Pitch,Lead_revenue,Fund_category,Geography,Designation,Lead_source,Level_of_meeting,Last_lead_update,Resource,Internal_rating
0,0,0,3,India,4,1,0,more than a month,No,-1.0
1,0,0,2,USA,2,1,1,Up-to-date,Yes,1.0
2,0,0,0,USA,5,1,1,Did not hear back after Level 1,Deliverable,5.0
3,1,0,0,India,1,0,2,more than a month,No,5.0
4,0,2,2,USA,2,2,2,More than 2 weeks,Deliverable,2.0

In [42]:
train = train_df.drop(['Geography','Last_lead_update','Resource'],axis=1)
test = test_df.drop(['Geography','Last_lead_update','Resource'],axis=1)

In [43]:
train.head()

,Pitch,Lead_revenue,Fund_category,Designation,Lead_source,Level_of_meeting,Internal_rating,Success_probability
0,1,1,1,7,3,2,3,73.6
1,1,2,3,4,2,0,5,58.9
2,0,2,3,8,1,0,4,68.8
3,1,2,2,2,0,1,1,64.5
4,1,1,2,7,3,1,4,62.4

In [44]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pitch                7007 non-null   int32
 1   Lead_revenue         7007 non-null   int32
 2   Fund_category        7007 non-null   int32
 3   Designation          7007 non-null   int32
 4   Lead_source          7007 non-null   int32
 5   Level_of_meeting     7007 non-null   int32
 6   Internal_rating      7007 non-null   int64
 7   Success_probability  7007 non-null   float64
dtypes: float64(1), int32(6), int64(1)
memory usage: 273.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2093 entries, 0 to 2092
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Pitch             2093 non-null   int64
 1   Lead_revenue      2093 non-null   int64
 2   Fund_category     2093 non-null   int64
 3   Designation       2093 non-null   int64
 4   Lead_source       2093 non-null   int64
 5   Level_of_meeting  2093 non-null   int64
 6   Internal_rating   2093 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 114.6 KB

In [45]:
X_train = train.drop('Success_probability',1)
y_train = train['Success_probability']
X_test=test

In [46]:
X_train.head(10)

,Pitch,Lead_revenue,Fund_category,Designation,Lead_source,Level_of_meeting,Internal_rating
0,1,1,1,7,3,2,3
1,1,2,3,4,2,0,5
2,0,2,3,8,1,0,4
3,1,2,2,2,0,1,1
4,1,1,2,7,3,1,4
5,0,1,1,2,1,2,3
6,1,2,0,2,0,2,4
7,1,2,0,9,2,1,5
8,0,0,2,5,0,0,2
9,0,2,2,0,0,0,4

0    73.6
1    58.9
2    68.8
3    64.5
4    62.4
Name: Success_probability, dtype: float64

In [47]:
from sklearn.linear_model import LinearRegression as lr

In [48]:
model = lr()
model.fit(X_train,y_train)

LinearRegression()

In [49]:
y_pred = model.predict(X_test)

In [50]:
print(y_pred)

[56.94706418 61.71089601 66.78815299 ... 64.38733865 64.2454441
 64.79150591]

In [51]:
y_pred.shape

(2093,)

In [52]:
test_df1=pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\Reduce market Waste\dataset\test.csv')

In [53]:
def create_submission(test,model,file_name):
    y_pred=model.predict(X_test)
    y_pred=y_pred.reshape(y_pred.shape[0])
    y_pred=y_pred.tolist()
    subs=pd.DataFrame({'Deal_title':test_df1['Deal_title'],'Success_probability':y_pred})
    subs.to_csv('file_name',index=False)

In [54]:
subs=pd.DataFrame({'Deal_title':test_df1['Deal_title'],'Success_probability':y_pred})
subs.to_csv('Submission.csv',index=False)

In [56]:
Submission_df = pd.read_csv(r'Submission.csv')
Submission_df.head()

   Deal_title  Success_probability
0  TitleAD16O            56.947064
1  TitleOW6CR            61.710896
2  TitleVVJQ5            66.788153
3  TitleUS8NA            68.515488
4  Title5VGWW            66.291393